.login-container {
    width: 50%;
    margin-top: 200px;
    background-color: #eef1f5;
    padding: 100px;
    border-radius: 30px;
}

.card-posts-text {
    height: 100px;
}

.not-active { 
    pointer-events: none; 
    cursor: default; 
    background-color: gray;
} 